include deckglplotly/deckglplotly.min.js
include deckglplotly/deckglplotly.dev.js
include deckglplotly/metadata.json
include deckglplotly/package.json
include README.md
include deckglplotly/style.css
